body {
    background-color: antiquewhite;
}
#video-tag{
  position: absolute;
  left: 950px;
  top: 0px;
}
#video{
  position: absolute;
  left: 500px;
  top: 10px;
}
#audio{
    position: absolute;
    top: 400px;
    left: 20px;
}

#api{
    position: absolute;
    top: 400px;
    left: 800px;
}